@model RestauranteSoftware.viewModels.PedidosViews

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model.pedidos)
{
    <div class="bordered-div">
        <div class="container mt-5">
            <h2 class="text-center">Detalles de Compra</h2>

            <div class="row">
                <div class="col-md-3">
                    <h5>Numero Pedido:@item.Id </h5>
                </div>
                <div class="col-md-3">
                    <h5>Mesa: 0</h5>
                </div>
                <div class="col-md-3">
                    <h5>Estado: Pendiente</h5>
                </div>
                <div class="col-md-3 text-end">
                    <h5>Fecha: @item.Fecha.ToString("dd/MM/yyyy")</h5>
                </div>
            </div>

            <hr />

            <table class="table table-striped">
                <thead>
                    <tr>
                    
                        <th>Comida</th>
                        <th>Cantidad</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in Model.detallesPedidos)
                    {
                        @if (items.PedidoId == item.Id)
                        {
                            <tr>
                       
                                <td>@items.ComidaId</td>
                                <td>@items.Cantidad</td>
                               
                            </tr>
                        }

                    }
                </tbody>
            </table>

            <div class="text-end">
                <h5>Total: @item.TotalPedido</h5>
            </div>
        </div>
    </div>
}
