/* General */
body, html {
    background-image: url('https://images7.alphacoders.com/972/972466.png');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    color: #007acc;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

a, .field-validation-error, span {
    color: #007acc; /* Azul brillante */
}

/* Layout Components */
header, footer {
    background-color: #ffdd55; /* Amarillo claro */
    opacity: 0.9;
}

main {
    background-color: rgba(255, 236, 128, 0.7); /* Amarillo brillante semitransparente */
}

.sidebar {
    color: #007acc; /* Azul brillante */
    background-color: #ffcd35; /* Amarillo brillante */
    opacity: 0.8;
}

/* Card */
.card {
    border: none;
    border-radius: 10%;
    background-color: #ffd700; /* Amarillo brillante */
}

.card-img-top {
    border-radius: 10%;
    display: block;
    height: 24em;
    width: 100%;
    object-fit: cover;
}

/* Form */
form {
    background-color: #ffd700; /* Amarillo brillante */
    padding: 2%;
    border-radius: 8px;
}

.form-control {
    background-color: #ffec99; /* Amarillo suave */
    border: 2px solid #ffd700; /* Amarillo brillante */
    border-radius: 5px;
    font-size: 16px;
}

    .form-control:hover {
        background-color: #ffdd55; /* Amarillo claro */
        cursor: pointer;
    }

    .form-control:focus {
        background-color: #ffd966; /* Amarillo intermedio */
        outline: none;
        border: 2px solid #ffcc33; /* Amarillo más oscuro */
    }

/* Buttons */
.btn, .btn-primary {
    background-color: #ffd738; /* Amarillo claro */
    border-radius: 5px;
    font-size: 16px;
    margin-top: 2%;
}

    .btn:hover, .btn:focus, .btn:after {
        background-color: #ffe991; /* Amarillo intermedio */
        border-radius: 5px;
        cursor: pointer;
    }

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff2cc; /* Fondo amarillo claro */
}

thead tr {
    border: 1px solid #ffd966; /* Bordes amarillos */
    padding: 8px;
    text-align: left;
    background-color: #ffd700; /* Fondo del encabezado amarillo brillante */
    color: white;
}

tbody tr {
    background-color: #ffe066; /* Fondo amarillo intermedio */
}

    tbody tr:hover {
        background-color: #ffd966; /* Fondo amarillo más oscuro al pasar el mouse */
    }
