
/* General */
body, html {
    color: #007acc;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow-x: hidden;
    background-image: url('https://preview.redd.it/gwjxr3fr2ny71.jpg?auto=webp&s=504607a098cf157f2c12ffb689d9f7f64672292d');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
/* Card */
.card {
    border: none;
    border-radius: 10%;
    background-color: #ffd700; /* Amarillo brillante */
    color: #007acc; /* Azul brillante */
}

.modal-content {
    background-color: #ffd700; /* Amarillo brillante */
    color: #007acc; /* Azul brillante */
}

.card-img-top {
    border-radius: 10%;
    display: block;
    height: 20em;
    width: 100%;
    object-fit: cover;
}

/* Form */
form {
    background-color: #ffd700; /* Amarillo brillante */
    padding: 2%;
    border-radius: 8px;
    color: #007acc; /* Azul brillante */
}

.form-control, .form-select, .form-control:read-only {
    background-color: #ffec99; /* Amarillo suave */
    border: 2px solid #ffd700; /* Amarillo brillante */
    font-size: 16px;
    color: #007acc; /* Azul brillante */
}

    .form-control:hover, .form-select:hover{
        background-color: #ffdd55; /* Amarillo claro */
        cursor: pointer;
        color: #0099ff; /* Azul brillante */
    }

    .form-control:focus, .form-select:focus{
        background-color: #ffd966; /* Amarillo intermedio */
        color: #007acc; /* Azul brillante */
        outline: none;
        border: 2px solid #ffcc33; /* Amarillo más oscuro */
    }

/* Buttons */
.btn, .btn-primary {
    background-color: #ffd738; /* Amarillo claro */
    border-radius: 5px;
    font-size: 16px;
    margin-top: 2%;
    color: #007acc; /* Azul brillante */
    font-weight: bold; /* Texto grueso */
}

    .btn:hover, .btn:focus, .btn:after {
        background-color: #ffe991; /* Amarillo intermedio */
        border-radius: 5px;
        cursor: pointer;
        color: #007acc; /* Azul brillante */
        font-weight: bold; /* Mantener texto grueso en el hover */
    }


/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff2cc; /* Fondo amarillo claro */
}


thead {
    background-color: #fff7c7; /* Fondo del encabezado amarillo brillante */
    padding: 8px;
    text-align: left;
    color: #0063a5; /* Azul brillante */
}

tbody tr, tbody ul {
    color: #0061a1; /* Azul brillante */
    background-color: #ffe992; /* Fondo amarillo intermedio */
}

    tbody tr:hover, tbody ul:hover {
        color: #003a61; /* Azul brillante */
        background-color: #ffdc4f; /* Fondo amarillo intermedio */
    }