

a, .field-validation-error, span,  {
    color: #007acc; /* Azul brillante */
}

/* Layout Components */
header, footer {
    background-color: rgba(255, 229, 79, 0.8); /* Amarillo brillante semitransparente */
}


.main {
    background-color: rgba(255, 236, 128, 0.7); /* Amarillo brillante semitransparente */
}
