<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unidad3P1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Unidad3P1.styles.css" asp-append-version="true" />
</head>

<body class="h-100" style="
    background-image: url('https://images7.alphacoders.com/972/972466.png');">
    <header>
        <!-- Header -->
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Cafeteria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!-- Add other navigation items if needed -->
                    </ul>
                    <partial name="_LoginPartial" class="container-fluid text-center" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Lateral Navigation Bar -->
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column p-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <!-- Enlaces a las vistas de cada entidad -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposPlatos" asp-action="Index">Tipos de Platos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comidas" asp-action="Index">Comidas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposPedidos" asp-action="Index">Tipos de Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EstadosPedidos" asp-action="Index">Estados de Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DetallesPedidos" asp-action="Index">Detalles de Pedidos</a>
                        </li>

                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                <div role="main" class=" mt-3">
                    @RenderBody()
                </div>
            </main>

        </div>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container m-3">
            <span class="text-muted">&copy; 2024 - UniDAD_3_P1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>


